.eventContainer{
    margin-top:1rem;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.row{
    row-gap: 2rem;
    justify-content: flex-start ;
}