/* Main Card Styling */
.my-sales-card {
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Wider card */
    height: 150px; 
    margin: 20px auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.my-sales-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.my-sales-card h2 {
    font-size: 1.2rem;
    color: #343a40;
    margin: 0;
    width: 500px;
}

.my-sales-card p {
    font-size: 1rem;
    color: #6c757d;
    margin: 0;
}

/* Flex container for the row layout with View Details */
.my-sales-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.view-detail {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
}

.view-detail:hover {
    text-decoration: underline;
}

/* Collapse Content Styling */
.collapse-content {
    display: block;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    color: #495057;
    max-width: 1000px; /* Match card width */
    margin: 0 auto; /* Center the collapse content */
    transition: transform 2s ease;
    cursor: pointer;
}

.collapse-content:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/* Details inside Collapse */
.collapseDetail {
    font-weight: 700;
    padding: 0.3rem 0;
    color: #495057;
}
